@import './colors.scss';
@import './variables.scss';

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    font-family: $fontRoboto;
    
    &__link {
        position: relative;
        display: inline-block;
        margin: 0 1rem;
        font-size: 1.25rem;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
        color: $primary-color;
        border-bottom: 2px solid transparent;

        &.is-active {
            border-bottom: 2px solid $primary-color;
        }
    }

    &__quantity {
        position: absolute;
        top: -0.5rem;
        right: -1.2rem;
        display: none;
        min-width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        font-size: .75rem;
        line-height: 1.2rem;
        text-align: center;
        color: $card-background-color;
        background: $accent-color;

        &.visible {
            display: block;
        }
    }
}