@import './variables.scss';

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    background: $secondaryTextColor;

    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 11;
    }

    &__content {
        position: absolute;
        top: calc(50% - #{$height/2});
        right: calc(50% - #{$width/2});
        z-index: 12;
        display: flex;
        justify-content: center;
        align-items: center;
        width: $width;
        height: $height;
        padding: 2rem 3rem;
        box-sizing: border-box;
        background: $cardBackgroundColor;
    }
    
    &__button {
        position: absolute;
        top: 0;
        right: 0;
        width: 2rem;
        height: 2rem;
        font-size: 2rem;
        line-height: 1.75rem;
        text-align: center;
        cursor: pointer;
        
        &_close {
            background: $accentColor;
            color: $cardBackgroundColor;
        }
    }

    &__link {
        text-transform: uppercase;
        color: $primaryColor;
        cursor: pointer;

        &_name {
            text-transform: none;
        }
    }
    
    &.is-open {
        display: block;
    }
}