@import './common/variables.scss';

.page-template {
    width: 100%;
    max-width: $layoutWidth;
    margin-right: auto;
    margin-left: auto;
    padding: $layoutGutter;
    box-sizing: border-box;
}