@import './common/variables.scss';

.product {
    padding-top: 2rem;

    &-info,
    &-image {
        width: 100%;
    }

    &-image {      
        align-self: flex-start;
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}    

@media screen and (min-width: $tabletScreen) {
    .product {
        &-info,
        &-image {
            width: calc( 50% - 15px );
        }
    }        
}