@import './common/variables.scss';

.cart-item {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: $mobileScreen - $layoutGutter * 2;
    padding: $layoutGutter 0;
    box-sizing: border-box;
    border-bottom: 1px solid $dividerColor;
    font-size: $fontLarge;
    color: $textColor;

    &__image {
        display: none;
        width: 100px;
        height: 100px;
        margin-right: $layoutGutter;
        
        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__title {
        flex-grow: 2;
        font-weight: 700;
        margin-right: $layoutGutter;
    }

    &__warranty {
        margin-right: $layoutGutter;
    }

    &__quantity {
        margin-right: $layoutGutter;
    }

    &__input {
        width: 60px;
        height: 40px;
        padding-right: 0;
        padding-left: $layoutGutter * 0.75;
        box-sizing: border-box;
        font-size: $fontLarge;
        font-weight: 700;
    }

    .sub-title {
        display: none;
    }
}

@media screen and (min-width: $tabletScreen) {
    .cart-item {
        &__image {
            display: block;
        }

        .sub-title {
            display: inline;
        }
    }
}