@import './colors.scss';

.product-preview {
    // padding: 16px 32px;
    
    &__title {

    }

    &__image {
        height: 200px;
    }

    &__description {
        // font-weight: 700;
    }

    &__button {

    }
}

.preview {
    width: calc(33% - 32px);
    min-width: 290px;
    margin: 0 15px 15px 0; 
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid $divider-color;
    box-shadow: 2px 2px -2px rgba(0,0,0,0.5);

    &:last-of-type {
        margin-right: 0;
    }

    &-image {
        display: block;
        margin: auto;
    }

    &-button {
        width: 100px;
        height: 40px;
        padding: 0;
        border: none;
        font-size: 1rem;
        font-weight: 700;
        color: $card-background-color;
        background: $primary-color;
        transition: all .33s ease;
        cursor: pointer;

        &:hover {
            background: darken($primary-color,25%);
        }
    }

}