@import './variables.scss';

.product {
    padding-top: 2rem;

    &-info,
    &-image {
        width: 100%;
    }

    &-info {
        padding-left: 15px;
        box-sizing: border-box;
    }

    &-image {
        padding-right: 15px;
        box-sizing: border-box;
        
        img {
            width: 100%;
            height: auto;
        }
    }
}    

@media screen and (min-width: $tabletScreen) {
    .product {
        &-info,
        &-image {
            width: 50%;
        }
    }        
}