@import './common/variables.scss';

.sort-menu {
    text-transform: uppercase;
    
    &__header {
        display: inline-block;
        font-size: $fontBase;
    }
    
    &__list {
        display: inline-block;
    }

    &__item {
        margin-left: $layoutGutter / 2;
        color: lighten( $textColor, 25% );
        font-size: $fontBase;
        font-weight: 700;
        text-decoration: none;
        transition: $transitionNormal;

        &:hover,
        &.selected {
            color: $textColor;
        }
    }
}

@media screen and (min-width: $mobileScreen) {
    .sort-menu {
        &__item {
            margin-left: $layoutGutter;
        }
    }        
}