@import './colors.scss';

.sort-menu {
    text-transform: uppercase;
    
    &__header {
        display: inline-block;
        font-size: 1rem;
        font-weight: 700;
    }
    
    &__list {
        display: inline-block;
    }

    &__item {
        margin-left: 1rem;
        color: lighten($text-color, 50%);
        font-size: 1rem;
        font-weight: 700;
        text-decoration: none;

        &:hover,
        &.selected {
            color: $text-color;
        }
    }
}