@import './variables.scss';

.card {
  background: $colorWhite;
  box-shadow: 1px 2px 6px $dividerColor; 
  transition: $transitionSlow;

  &-image {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  &-info {
    padding: $layoutGutter;
  }

  &-title {
    margin-top: 0;
  }

  &:hover {
    box-shadow: 2px 2px 6px $hintTextColor;
  }
}