@import './variables.scss';
@import './layout.scss';
@import './buttons.scss';
@import './card.scss';
@import './typography.scss';

body {
  font-size: $fontBase;
  background: $backgroundColor;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}