@import './variables.scss';

.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  
  &.reverse {
    flex-direction: row-reverse
  }

  &.column {
    flex-direction: column;

    &.revers {
      flex-direction: column-reverse;
    }
  }

  &.wrap {
    flex-wrap: wrap;
  }
}