h1 {
  font-size: $fontExtraExtraLarge;
}

h2 {
  font-size: $fontExtraLarge;
}

h3 {
  font-size: $fontLarge;
}

p {
  font-size: $fontBase;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: $layoutGutter;
  margin-bottom: $layoutGutter;
  color: $textColor;
}
